/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-dic-2015, 17:53:19
    Author     : Carlos
*/

body
{
    background-color: aliceblue;
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family:  Helvetica;
    
}

h1,h2
{
    color: #485798; 
}

#cabecera
{
    height: 150px;
    background-color: #485798;
    text-align: center;
}


#menu
{
    background-color: darkblue;
    color: white;
    height: 50px;
    text-align: center;
}

#contenido
{
    background-color: #ffffff;
    color: black;
    
}

#piepagina
{
    background-color: #3f5da2;
    height: 25px;
    color: white;
    text-align: center;
}

.imagenCabecera
{
    background-color: activeborder;
    width: 600px;
}

.menuPF
{
    width: 100%;    
    text-align: center;
   
}

.menuItem
{
    text-align: center;
}
